# Dependencies
node_modules/

# Build output
dist/
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
*.swp
*.swo
*~
