---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PowerFit Gym</title>
  </head>

  <body class="bg-black text-white">

    <!-- HERO -->
    <section class="min-h-screen flex flex-col justify-center items-center text-center px-6 relative">

      <!-- Glow -->
      <div class="absolute w-72 h-72 bg-blue-500/20 blur-3xl rounded-full top-20"></div>

      <h1 class="text-5xl md:text-7xl font-bold mb-4">
        Transform Your Body 💪
      </h1>

      <p class="text-gray-400 max-w-xl mb-6 text-lg">
        Join PowerFit Gym and start your fitness journey today. Build strength, confidence, and discipline.
      </p>

      <div class="flex gap-4">
        <a 
          href="https://wa.me/918473819569"
          class="bg-blue-500 text-black px-6 py-3 rounded-lg font-semibold hover:bg-blue-400 transition"
        >
          Join Now
        </a>

        <a 
          href="#plans"
          class="border border-gray-700 px-6 py-3 rounded-lg hover:border-gray-500 ub transition"
        >
          View Plans
        </a>
      </div>
    </section>


    <!-- FEATURES -->
    <section class="px-6 py-20 border-t border-gray-800 text-center">
      <h2 class="text-3xl md:text-4xl font-bold mb-12">
        Why Choose PowerFit 🔥